---
import Layout from "@components/layout.astro";
import Header from "@components/header.astro";
import PostListItem from "@components/PostListItem.astro";
import { getCollection } from "astro:content";
import Pagination from "@components/Pagination.astro";
import type { PaginateFunction } from "astro";

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const allPosts = await getCollection("posts");
  allPosts.sort((a, b) => new Date(b.data.published ?? '').getTime() - new Date(a.data.published ?? '').getTime());

  return paginate(allPosts, {
    pageSize: 15
  });
}

interface Props {
  page: any;
}

const { page } = Astro.props;
---
<Layout title="Latest posts">

	<Header show={["pages", "socials"]} />

	<main class="mx-auto mt-12 space-y-12">
		{page.data.map((post: any) => (
			<PostListItem frontmatter={post.data} href={`/post/${post.slug}`} />
		))}

		<Pagination currentPage={page.currentPage} totalPages={page.lastPage} basePath="/posts" />
	</main>
</Layout>