---
layout: base.njk
---
<date>{{page.date | parseDate("dd LLLL yyyy") }}</date>
<h1>{{title}}</h1>

{{content | safe}}

{% if tags %}
<h3>Tags</h3>
    <ol>
        {% for tag in tags %}
        <li>{{tag}}</li>
        {% endfor %}
    </ol>
    {% endif %}

{% if categories %}
<h3>Categories</h3>
    <ol>
        {% for cat in categories %}
        <li>{{cat}}</li>
        {% endfor %}
    </ol>
    {% endif %}