---
---

body {
  background-color: #fafafa;
  
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 17px;
  line-height: 1.66em;
  
  margin:0;
  padding:0;
  border-top: 1em solid blue;
  
  color: #333;
  }
  
.container {
	max-width: 1000px;
    margin: 0 auto;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

header {
	padding: 1em;
    padding-bottom: 2em;
    display: block;
}

.site-title {
	font-weight: 700;
    color: black;
    }
    
 .site-description {
 	font-weight: normal;
    color: #999;
 }
 
.site-branding { float:left; }

.site-navigation {
	display: block;
    float: right;
}
.site-navigation a { 
	color: black;
    font-weight: bold;
    margin-right: 1em;
}

article h1 {
	font-weight: 700;
    margin-bottom: 2em;
}

@media screen and (min-width: 49.5em) {
	body {
    	font-size: 1.5em;
    }
}
